<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <%= stylesheet_link_tag    "relax_admin/application", media: "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "relax_admin/application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
  </head>
  <body id="admin-user">
    <%= yield %>
  </body>
</html>
