// Bootstrap override
$blue: #6798ff !default;
$yellow: #fad961 !default;
$green: #57ca85 !default;
$red: #F36265 !default;

$info: #6798ff;
$notice: #fad961;
$success: #57ca85;
$error: #F36265;

// Dasboard
$primary: #6740ea;
$secondary: #120731;
$textColor: #c5a6ee;
$tertiary: #f8f8fd;
$grey: #7985A6;
$lightgrey: #e1e5ec;
