// Bootstrap override
$blue: #6280ec !default;
$yellow: #fad961 !default;
$green: #57ca85 !default;
$red: #ff808b !default;

$info: $blue;
$notice: $yellow;
$success: $green;
$error: $red;

$primary: #6280ec;
$secondary: #4e4cac;
$background: #f6f3fc;

$sidebar: #fefefe;
$textColor: #afaec3;
$textColorHover: #15152d;

$input: #f9faff;
$border: #e3e9fc;
