// Bootstrap override
$blue: #659be0 !default;
$yellow: #f1c40f !default;
$green: #36c6d3 !default;
$red: #ed6b75 !default;

$success: #26c281;
$info: #4b77be;
$error: #e7505a;
$notice: #f7ca18;

// Dasboard
$primary: #18cdc4;
$secondary: #26344b;
$tertiary: #eef1f5;
$grey: #666;
$lightgrey: #e1e5ec;
