<div class="block-batch pull-right">
  <div class="dropdown">
    <a class="btn btn-circle btn-success btn-sm dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-share"></i>
      <span class="">Actions groupées</span>
      <i class="fa fa-angle-down fix-dropdown"></i>
    </a>
    <div class="dropdown-menu">
      <a
      class="dropdown-item batch-action"
      data-action="<%= batch_actions_path('delete', @model_class.model_name.to_s.underscore) %>"
      data-message="Vous ne serez pas capable de revenir en arrière." href="#"><i class="icon-trash">
      </i> Supprimer</a>
    </div>
  </div>
  <div class="count">
    <span class="batch-current-selected">0</span> élément(s) sélectionné(s)
  </div>
</div>
