<div class="page-bar">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= relax_admin.dashboard_path %>">
        <i class="icon-home"></i>
        <%= t('relax_admin.view.home') %></a>
    </li>
  </ol>
</div>
