<div class="page-bar">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="<%= dashboard_path %>">
        <i class="icon-home"></i>
        Accueil</a>
    </li>
  </ol>
</div>
