<%= button_tag(type: 'submit', class: 'btn btn btn-primary', name: 'submit_add') do %>
  <i class="fa fa-save"></i> <i class="fa fa-plus"></i> Enregistrer &amp; Ajouter un nouveau
<% end %>
<%= button_tag(type: 'submit', class: 'btn btn btn-success pull-right', name: 'submit_redirect') do %>
  <i class="fa fa-save"></i> <i class="icon-action-undo"></i> Enregistrer &amp; Retourner à la liste
<% end %>
<button type="submit" class="btn btn-primary pull-right" style="margin-right: 15px;">
  <i class="fa fa-save"></i> Enregistrer
</button>
