<div class="errors">
  <% show_hidden_errors.each do |msg| %>
    <% if msg[1].present? %>
      - <strong><%= msg[0] %> :</strong><br  />
      <div style="padding-left: 25px">
        <% msg[1].each do |e| %>
        <%= e.to_s %><br/>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
