<% page_title(@model_name.pluralize) %>
<% page_sub_title(@sub_title) %>

<div class="row">
  <div class="col-sm-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <%= t('relax_admin.view.show', model_name: @model_name.pluralize) %>
        </div>
        <div class="actions">
          <%= link_to(polymorphic_url([:relax_admin, @model_class]), class: 'btn btn-circle btn-primary btn-sm') do %>
            <i class="icon-action-undo"></i> <%= t('relax_admin.view.return_to_list') %>
          <% end %>
        </div>
      </div>
      <div class="portlet-body">
        <%= render 'data_show' %>
      </div>
    </div>
  </div>
</div>
